name: Generate docs
on:
  release:
    types: [published]
  workflow_call:
permissions:
  pages: write
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Get benchmark cache
        uses: actions/cache@v4
        with:
          path: ./cache
          key: benchmark-${{ runner.os }}-${{ github.run_id }}
          restore-keys: |
            benchmark-${{ runner.os }}
            path: ./cache
      - run: |
          pnpm install --no-frozen-lockfile
          yarn docs
          cp -r ./cache/* ./docs
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
